section{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

#container{
    width: 100%;
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction: row;
}

#uploadingSec{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    padding: 4px;
}

#showImg{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-left: 10%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

#btnUpload{
    width: 300px;
    height: 30px;
    margin-left: 10%;
    margin-top: 10%;
}

#inputField{
    width: 300px;
    margin-left: 10%;
    margin-top: 5%;
    border: 1px solid grey;
    border-radius: 4px;
}

#tableSec{
    width: 60%;
}

table{
    width: 100%;
}